# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logging
*.log

# Editors
.vscode/
.idea/

# Environments
.env
.venv
env/
venv/
ENV/

# Ignore dynaconf secret files
config/
.secrets.toml
settings.toml
